ResearchWebstack.CommandLine/Connected Services/XProductService/XProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ResearchWebstack.Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ResearchWebstack.Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUnitTest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitTest" nillable="true" type="tns:UnitTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitTest" nillable="true" type="tns:ArrayOfUnitTest" />
  <xs:complexType name="UnitTest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullyQuantiedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitTest" nillable="true" type="tns:UnitTest" />
</xs:schema>